@tailwind base;
@tailwind components;
@tailwind utilities;

/* scrollbar es para el fondo y scrollbar-thum es la barra */

.custom-scroll::-webkit-scrollbar {
    width: 5px;
    height: 5px;
    background-color: #232323;
  }
  
  .custom-scroll::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: #3579df;
  }
  